#barra-navegadora {
    background: #000000;
}

.nav-link {
    color: #ffffff !important;
}

.navbar-brand {
    color: #ffffff !important;
}

.btn:hover {
    color: #000000 !important;
}

.btn-outline {
    color: #000000;
    background: #1F75FE;
}