#id-titulo{
  color:#6CB4EE ; 
    text-align: center;
}
.contenedorcarrusel{
    display: flex;
    justify-content: center;
}
#carouselExampleAutoplaying{
    margin:0;
    display: flex;
    justify-content: space-around;
}