#id-titulo{
  color:#ffffff ; 
    text-align: center;
}
/* .contenedorcarrusel{
    display: flex;
    justify-content: center;
}
#carouselExampleAutoplaying{
    margin:0;
    display: flex;
    justify-content: space-around;
} */
 .carousel-item img{
    object-fit: contain;
 }